<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heuro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>
<body>
    <header>
        <h1>Heuro</h1>
            <p class="text text--large">Odkryj i porównaj wydajność algorytmów metaheurystycznych. <br>
                Dodaj, testuj i doskonal własne funkcje na własnych algorytmach metaheurystycznych 
            lub skorzystaj z naszej bazy!</p>
        </header>
        </p>
    </header>
    
    <section id="main-content">
        <div class="box">
            <h2>wybierz funkcje testowe</h2>
            <div id="test-functions-list"></div>
        </div>
    
        <div class="box">
            <h2>wybierz algorytmy</h2>
            <div id="algorithms-list"></div>
        </div>
    
        <div class="box">
            <h3>Wybrane Funkcje Testowe:</h3>
            <pre id="selected-functions"></pre>
        </div>
        <div class="box">
            <h3>Wybrane Algorytmy:</h3>
            <pre id="selected-algorithms"></pre>
        </div>
        
    </section>

    <div class="box forward-button">
        <h3><a href="{{ url_for('details') }}" style="text-decoration: none; color: white;" target="_blank">dalej</a></h3>
        <pre id="forward"></pre>
    </div>

    <footer>
        <p class="text text--large">2023 Halemba represent</p>
    </footer>
    <script src="{{ url_for('static', filename='js/display_tables.js') }}"></script>
</body>
</html>
