<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heuro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>
<body>
    <header>
        <h1>Heuro</h1>
            <p>Odkryj i porównaj wydajność algorytmów metaheurystycznych. 
                Dodaj, testuj i doskonal własne funkcje na własnych algorytmach metaheurystycznych.</p>
        </header>
        </p>
    </header>
    
    <section id="main-content">
        <script src="{{ url_for('static', filename='js/display_tables.js') }}"></script>
        <div class="box">
            <h2>wybierz funkcje testowe</h2>
            <div id="test-functions-list"></div>
        </div>
    
        <div class="box">
            <h2>wybierz algorytmy</h2>
            <div id="algorithms-list"></div>
        </div>
    </section>
    
    <footer>
        <p>2023 Halemba represent</p>
    </footer>
</body>
</html>
