<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heuro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index-style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/silesian-ginger-icon.png"
    />
  </head>
  <body>
    <header>
      <h1>Heuro</h1>
      <p class="text text--large">
        Odkryj i porównaj wydajność algorytmów metaheurystycznych. <br />
        Dodaj, testuj i doskonal własne funkcje na własnych algorytmach
        metaheurystycznych lub skorzystaj z naszej bazy!
      </p>
    </header>

    <section id="main-content">
      <h1> Wybrane funkcje i ich parametry: </h1>
    </section>

    <!-- TODO: add blocked button mechanism when no function or algorithm is chosen -->
    <div class="generate-report-wrapper">
      <button class="generate-report-btn">Wygeneruj raport</button>
    </div>

    <footer>
      <p class="text text--large">2023 Halemba represent</p>
      <img
        src="{{ url_for('static', filename='images/silesian-ginger-icon.png') }}"
        alt="silesian-ginger-icon"
      />
    </footer>
    <script src="{{ url_for('static', filename='js/display_tables.js') }}"></script>
  </body>
</html>
