@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Prompt:wght@100&family=Raleway:wght@100&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222; 
    color: #fff; 
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #1b1b1b; 
    color: #fff; 
}

h1 {
    font-size: 6vh;
}

p {
    font-size: 2.5vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #333; 
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
}

#main-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; 
    padding: 2em;
}

.forward-button {
    padding: 20px 40px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.forward-button:hover {
    background-color: #555; 
    transform: scale(1.05); 
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding-top: 1em; 
    padding-right: 4em;
    padding-bottom: 1em;
}

.box {
    border: 1px solid #666; 
    width: 45%;
    padding: 1em;
    box-sizing: border-box;
    background-color: #333; 
    color: #fff; 
}

.box h2 {
    border-bottom: 1px solid #888; 
    padding-bottom: 0.5em;
}

.box label {
    display: block;
    margin-bottom: 8px;
    background: #333; 
    padding: 8px;
    border-radius: 4px;
    color: #fff; 
}

.box input[type="checkbox"] {
    margin-right: 8px;
}

footer p {
    margin-top: 0;
}

@media (max-width: 768px) {
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        margin-bottom: 1em;
    }

    @media (max-width: 768px) {
        .button-container {
            justify-content: center;
        }
    }
}
