body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #f8f9fa;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f2f2f2;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
}


#main-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 2em;
}

.box {
    border: 1px solid black;
    width: 45%;
    padding: 1em;
    box-sizing: border-box;
}

.box h2 {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

.box label {
    display: block;
    margin-bottom: 8px;
    background: #f2f2f2;
    padding: 8px;
    border-radius: 4px;
}

.box input[type="checkbox"] {
    margin-right: 8px;
}

.box button {
    margin-top: 16px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box button:hover {
    background: #45a049;
}

button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer p {
    margin-top: 0;
}

@media (max-width: 768px) {
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        margin-bottom: 1em;
    }
}
